a.naked::after {
	content: attr(href)
}

article {
	margin-top: 4em;
}

aside {
	border-top: 1px solid;
	font-size: smaller;
	margin-left: 4em;
	max-width: max-content;
}

body {
	font-family: Courier, monospace;
	margin: 0em 2em;
}

dl {
	display: grid;
	line-height: 1.3;
	max-width: max-content;
}

dl dd {
	grid-column-start: 2;
}

iframe {
	border: 1px solid;
    height: 500px;
	width: 100%;
}

img {
	/* set the height attribute in html */
	overflow-x: auto;
}

p {
	line-height: 1.3;
}

pre {
	font-size: larger;
	overflow-x: auto;
}