* {
	box-sizing: border-box;
	font-weight: normal;
}

body {
	font-family: sans-serif;
}

h1 {
	text-align: center;
	font-family: "EB Garamond", sans-serif;
	font-size: 3rem;
}

h3 {
	font-family: "EB Garamond", sans-serif;
	font-size: 2rem;
}

.column {
	float: left;
	text-align: center;
}

.short {
	padding: 0.5em;
}

/* A type of column, two on either side of the page take up 60%
of the total width. */
.edge {
	width: 30%;
}

/* The center column uses the remaining 40% page width. Also
meant for thumbnail images inside of columns. */
.center {
	width: 40%;
}

.footer {
	clear: left;
	font-size: 0.7em;
	padding-top: 0.5em;
}

.section {
	padding: 0.5em;
	margin: 2.15vw 3vw 6vw;
	background-color: pink;
	box-shadow: 0 0 0.2vw 1.5vw #FFF7F8;
}

/* If the screen is thin, stack the columns on top of each
other. Also move a small part of the page up and in between the
two collage halves. */
@media only screen and (max-width: 800px) {

	.column {
		width: 100%;
	}

	.short {
		position: relative;
		bottom: 104vw;
		margin-bottom: -104vw;
	}

	.section {
		margin: 8vw 5.4vw 14vw;
		box-shadow: 0 0 0.5vw 4vw #FFF7F8;
	}

}