* {
	box-sizing: border-box;
	text-align: center;
	font-weight: normal;
	font-family: sans-serif;
}

.column {
	float: left;
	font-size: 20px;
}

.edge {
	width: 30%;
}

.thumb {
	width: 50%
}

.center {
	width: 40%;
}

@media only screen and (max-width: 800px) {
	.column {
		width: 100%;
	}
	.short {
		position: relative;
		bottom: 100vw;
		margin-bottom: -100vw;
	}
}