article {
	margin-top: 4em;
}

aside {
	border-top: .1em solid;
	font-size: smaller;
	margin-left: 4em;
	max-width: max-content;
}

body {
	font-family: Courier, monospace;
	margin: 0em 2em;
}

/* dl style from https://stackoverflow.com/a/77380953 */
dl {
	display: grid;
	grid-template: auto / auto auto;
	width: fit-content;
	column-gap: 1em;
}

dl dt {
	grid-column-start: 1;
}

dl dd {
	grid-column-start: 2;
	margin: 0;
}

p {
	line-height: 1.3;
}

pre {
	font-size: larger;
	margin-left: 4em;
	overflow-x: auto;
}